// Define colors
$primary-color: #000000; 
$secondary-color: #ffffff; 
$accent-color: #000000; 

 
body.reset-password-page {
  background: linear-gradient(rgb(49, 73, 209) 20%, rgb(18, 188, 255) 40%);
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.reset-password-box {
  background: linear-gradient(rgb(49, 73, 209) 20%, rgb(18, 188, 255) 40%);
  font-family: 'Arial', sans-serif;
  height: 91vh; // Ensure it covers the full viewport height
  margin: 0;
  padding: 0;
}
// Container styling
.reset-password-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  max-width: 400px;
  padding: 30px;
  text-align: center;
  width: 90%;
}

// Heading styling
.reset-password-container h2 {
  color: $primary-color;
  font-size: 24px;
  margin-bottom: 20px;
}

// Input styling
.reset-password-container input {
  border: 1px solid #cccccc;
  border-radius: 5px;
  display: block;
  font-size: 16px;
  margin: 10px auto;
  padding: 10px;
  width: 100%;
}

// Button styling
.reset-password-container button {
  background-color: #1ae2e2;
  border: none;
  border-radius: 5px;
  color: #111010;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #2e74f5;
  }
}

// Error message styling
.reset-password-container p {
  font-size: 14px;
  margin: 10px 0;

  &.error {
    color: red;
  }

  &.message {
    color: rgb(32, 179, 247);
  }
}

// Toast styling
.Toastify__toast {
  border-radius: 5px;
  font-size: 14px;
}

.Toastify__toast--success {
  background-color: $primary-color;
  color: $secondary-color;
}

.Toastify__toast--error {
  background-color: red;
  color: $secondary-color;
}
